.App {
  text-align: center;
}

.p4Board {
  display: flex;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  flex-direction: column;
  padding: 16px;
}

.checkBox {
  border-radius: 20px;
  border: 1px solid #fff;
  flex-direction: row;
  padding: 8px;
  margin: 20px;
}

.square {
  background: #fff;
  float: left;
  height: 34px;
  width: 34px;
  border-radius: 17px;
  margin: 2px;
}

.square:focus {
  outline: none;
  background: rgb(148, 75, 75);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
