.App {
  text-align: center;
}

.checkBox {
  border-radius: 20px;
  border: 1px solid #fff;
  flex-direction: row;
  padding: 8px;
  margin: 20px;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
